-
    const serviceDescriptionData = [
        {
            "imgSrc": "./images/icons/sprite.svg#s-descr1",
            "title": "Мониторинг репутации",
            "description": "Мониторьте чаты <br>по отзывам, услугам <br>и продуктам вашей компании."
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr2",
            "title": "Сбор целевой информации <br>по ключевым словам",
            "description": "Ищите совпадения по ключевым словам <br> в чатах Телеграм <br>и собирайте информацию в удобном виде."
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr3",
            "title": "Удобная настройка <br>из личного кабинета",
            "description": "Управляйте настройкой ключевых слов,<br>аккаунтами и чатами <br> из личного кабинета пользователя. "
        }
    ]
    const serviceProfitsData = [
        {
            "imgSrc": "./images/icons/sprite.svg#s-descr4",
            "description": "Сокращение времени работы <br>до 3 раз, благодаря собранным <br>ключевым словам и чатам"
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr5",
            "description": "Повышение лояльности <br> за счёт быстрых ответов клиентам"
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr6",
            "description": "Увеличение контактов <br> с потенциальными клиентами <br> на 15-20%"
        }
    ]

section.block.service-description
    .block__content
        p.standard-title.service-description__title Ключевые возможности сервиса
        ul.service-description__list
            each listItem in serviceDescriptionData
                li.service-description__list-item
                    .service-description__list-item-img-wrapper
                        img(src=`${listItem.imgSrc}`)
                    p !{listItem.title}
                    p !{listItem.description}


section.block.service-description
    .block__content
        p.standard-title.service-description__title Выгоды от использования сервиса
        ul.service-description__list
            each listItem in serviceProfitsData
                li.service-description__list-item
                    .service-description__list-item-img-wrapper
                        img(src=`${listItem.imgSrc}`)
                    p(hidden)
                    p !{listItem.description}
