-
    const sliderData = [
        {
            imgWrapper: './images/content/case-bg1.png',
            imgSrc: './images/content/case1.png',
            title: 'Название',
            thesis: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            result: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. '
        },
        {
            imgWrapper: './images/content/case-bg2.png',
            imgSrc: './images/content/case2.png',
            title: 'Название',
            thesis: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            result: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. '
        },
        {
            imgWrapper: './images/content/case-bg1.png',
            imgSrc: './images/content/case1.png',
            title: 'Название',
            thesis: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            result: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. '
        },
    ]

section.block.cases-block
    .block__content
        .anchor(id='cases')
        p.standard-title.cases-block__title(data-lang-cbt) Кейсы
        .cases-block__slider
            each slide in sliderData
                .cases-block__slide.cases-slide
                    .cases-slide__bg-img-wrapper
                        img(src=`${slide.imgWrapper}`)
                    .cases-slide__content
                        .cases-slide__img-wrapper
                            img(src=`${slide.imgSrc}`)
                        p.cases-slide__title(data-lang-ctmt) #{slide.title}
                        p.cases-slide__thesis
                            span(data-lang-ctt) Тезис
                            | #{slide.thesis}
                        p.cases-slide__result
                            span(data-lang-ctr) Результат
                            | #{slide.result}
                    button.cases-slide__btn-more
                        <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 1.63525L8.65331 8.98194L1.30663 1.63525" stroke="white" stroke-width="2.07796" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
